Options +FollowSymLinks
RewriteEngine On
RewriteBase /concept_oscar/

RewriteCond %{THE_REQUEST} /Public/([^\s?]*) [NC]
RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^ %1 [L,NE,R=302]
RewriteRule ^((?!Public/).*)$ public/index.php?p=$1 [L,NC]
